---
layout: page
title: Gravesite finder
permalink: /gravesite-search/
---

<!-- <ul>
  {% for gravesite in site.data.gravesites %}
  <li>
    <a href="/{{ gravesite.grave_id | datapage_url: 'gravesites' }}">
    {{gravesite.grave_name}} ({{ gravesite.grave_dod | date: "%B %e, %Y" }})</a>
  </li>
  {% endfor %}
</ul> -->

<div class="container">
	<!-- <h1 class="mt-4 mb-3">Gravesite search</h1> -->

	<noscript>
		<p>Please enable Javascript to use Search function.</p>
		<style> .jsonly { display: none !important } </style>
	</noscript>

	<div class="mb-2 jsonly"> 
		<input type="text" class="form-control" placeholder="Search.." aria-label="Search" id="myInput" onkeyup="filterFunction()">
	</div>

	<div class="list-group" id="myListGroup">

      <ul>
    {% for gravesite in site.data.gravesites %}
    <li>
      <a class="list-group-item list-group-item-action" href="/{{ gravesite.grave_id | datapage_url: 'gravesites' }}">
      {{gravesite.grave_name}} ({{ gravesite.grave_dod | date: "%B %e, %Y" }})</a>
    </li>
    {% endfor %}
    </ul>

	</div>
</div>

<script type="text/javascript">
	function filterFunction() {
	  var input, filter, a, i;
	  input = document.getElementById("myInput");
	  filter = $.trim( input.value.toUpperCase() );
	  div = document.getElementById("myListGroup");
	  a = div.getElementsByTagName("a");
	  for (i = 0; i < a.length; i++) {
	    txtValue = a[i].textContent || a[i].innerText;
	    if (txtValue.toUpperCase().split(" (")[0].indexOf(filter) > -1) {
	      a[i].style.display = "";
	    } else {
	      a[i].style.display = "none";
	    }
	  }
	}
	// https://www.w3schools.com/howto/howto_js_filter_dropdown.asp
</script>

<style>
   .list-group{
    max-height: 50vh;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
/*https://stackoverflow.com/questions/47256185/bootstrap-list-group-scroll*/
    ul{
      list-style-type:none;
      }
      #myListGroup a{
    border-bottom:1px solid;
    list-style-type: none;
}

</style>
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>